.wifi-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 10px 20px 10px 20px;
  align-items: center;
  justify-content: center;

  .simple-hover-button-container {
    width: 33%;

    button {
      color: black;
    }
  }
}