.simple-table-with-button-column-container {
  width: 100%;
  overflow-x: auto;
  margin: 0 auto;

  table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 0.5px;

    th,
    td {
      padding: 10px;
      text-align: center;
      border: 1px solid #ddd;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    tr:hover {
      background-color: #ddd;
    }

    th {
      background-color: #2b373b;
      color: white;
    }
  }
}